html, body {
	margin: 0;
	padding: 0;
	background: #fbfbfb;
	color: #333;
	font-family: Verdana;
	overflow: hidden;
}

button:focus {
	outline: none;
}

.container {
	margin: 0 5%;
	text-align: center;
}

.container header {
	border-bottom: 1px solid rgba(33,33,33,.2);
}

.container header h1 {
	font-size: 20px;
}

.container header h3 {
	display: inline;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
}

.container header img {
	display: inline;
	height: 15px;
}

.container button {
	width: 45%;
	margin: 20px 2% 0 2%;
	padding: 8px 10px;
	border: 1px solid #aaa;
	border-radius: 6px;
	background: #ccc;
	font-size: 16px;
	box-shadow: inset 0 0 10px #bbb;
	cursor: pointer;
}

.container button:active {
	box-shadow: inset 0 0 20px #aaa;
}

.container button img {
	width: 40px;
	height: 40px;
	margin-bottom: 5px;
}

.container button p {
	margin: 0;
	font-size: 12px;
}

.result {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(33,33,33,.7);
	z-index: 1;
}

.result > button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 26px;
	height: 26px;
	border: none;
	border-radius: 26px;
	background-color: #444;
	background-image: url("icons/close.png");
	background-size: 16px;
	background-position: 5px;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 3;
}

.result .content {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	padding: 0 5px;
	border-radius: 4px;
	background-color: #fbfbfb;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 2;
}

.result .content div {
	display: none;
}

.result .content div fieldset {
	margin-bottom: 5px;
	text-align: left;
}

.result .content div fieldset p {
	margin: 8px 0 5px 0;
}

.result .content div fieldset input {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.result .content div fieldset span {
	vertical-align: middle;
	margin-left: 10px;
	font-size: 10px;
}

.result .content div fieldset button {
	display: block;
	margin: 10px 0 0 0;
}

.result .content div p {
	font-size: 14px;
	margin-top: 0;
}

.result .content div img {
	max-width: 100%;
	max-height: 80%; /*non*/
}